In [11]:
import pandas as pd

In [24]:
bank=pd.read_csv(r"E:\Data science training\R AND PYTHON KPMG\stat and ml\ASSIGNMENT\asssigmnent2\bank-full.csv")
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [25]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [31]:
# Lets create a new data frame with only those column which are required to build the model

bank_new = bank[['age','marital','y']]

In [32]:
bank_new.head()

   age  marital   y
0   58  married  no
1   44   single  no
2   33  married  no
3   47  married  no
4   33   single  no

In [34]:
bank_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      45211 non-null  int64
 1   marital  45211 non-null  object
 2   y        45211 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [35]:
cat_col = ['marital','y']

In [36]:
bank_dummy = pd.get_dummies(bank_new,columns=cat_col,drop_first=True)
bank_dummy.shape

(45211, 4)

In [37]:
bank_dummy.head()

   age  marital_married  marital_single  y_yes
0   58                1               0      0
1   44                0               1      0
2   33                1               0      0
3   47                1               0      0
4   33                0               1      0

In [38]:
#Identifying the input and output variables
Y = bank_dummy[['y_yes']]
X = bank_dummy.drop(columns=['y_yes'])

In [39]:
# Lets check the null values

# Lets check the null values
bank_dummy.isnull().sum()

age                0
marital_married    0
marital_single     0
y_yes              0
dtype: int64

In [40]:
# split Data into Tranning and test model
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 1234)

len(X_train), len(X_test), len(Y_train), len(Y_test)

(36168, 9043, 36168, 9043)

In [42]:
# STEP 3: Build the model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

# Fitting the model

model1 = lr.fit(X_train, Y_train)

model1

C:\Users\Pratik\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [43]:
# STEP 4: Using this model, I will predict the test cases

Y_test['Pred_subscription'] = model1.predict(X_test)

# STEP 5: Import the confusion matrix and classification report

from sklearn.metrics import confusion_matrix, classification_report

print(classification_report(Y_test['y_yes'], Y_test['Pred_subscription']))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94      7996
           1       0.00      0.00      0.00      1047

    accuracy                           0.88      9043
   macro avg       0.44      0.50      0.47      9043
weighted avg       0.78      0.88      0.83      9043

C:\Users\Pratik\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Pratik\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Pratik\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

The above model with 88% accuracy is a good model if you want to predict that someone will not get term deposite subscription (Which mean for y_yes == 0 its a good model) as f1-Score and recall value for y_yes = 0 is very high. However, the model is not very good if you want to predict that someone will not get term deposite subscription (Which mean for y_yes == 1 its not a good model) as the f1-score, recall both are very low.

This has happend bcoz my taining data set have more data points where y_yes == 0 then compare to y_yes == 1.

In [44]:
# Lets find the number of data points where target variable (TenYearCHD) is 0- and 1

print("Count of 1 in orginal Y_train:", sum(Y_train['y_yes']==1))
print("Count of 0 in orginal Y_train:", sum(Y_train['y_yes']==0))

Count of 1 in orginal Y_train: 4242
Count of 0 in orginal Y_train: 31926

In [45]:
# Lets balance the data using SMOTE

In [46]:
# Import the library

from imblearn.over_sampling import SMOTE

# I will balance my training data (X_train and Y_train)

In [47]:
# I will create the SMOTE object

sm = SMOTE(random_state=1234)

# I will fit this SMOTE Object on X_train and Y_train using a command fit_sample

X_train_new, Y_train_new = sm.fit_resample(X_train, Y_train)

In [49]:
# Lets check if SMOTE worked or not
print("Count of 1 in orginal Y_train:", sum(Y_train_new['y_yes']==1))
print("Count of 0 in orginal Y_train:", sum(Y_train_new['y_yes']==0))

Count of 1 in orginal Y_train: 31926
Count of 0 in orginal Y_train: 31926

In [50]:
# Lets build the new Logistic Regression model on X_train_new and Y_train_new

lr_new = LogisticRegression()

# Lets fit the model

model_new = lr_new.fit(X_train_new, Y_train_new)

model_new

C:\Users\Pratik\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [52]:
# Lets predict the test cases using this new model

Y_test['Pred_subscription_new'] = model_new.predict(X_test)

# Print the report

print(classification_report(Y_test['y_yes'], Y_test['Pred_subscription_new']))

              precision    recall  f1-score   support

           0       0.91      0.57      0.70      7996
           1       0.15      0.57      0.24      1047

    accuracy                           0.57      9043
   macro avg       0.53      0.57      0.47      9043
weighted avg       0.82      0.57      0.65      9043

using SMOTE analysis we can see that Precesion and recall value are improved.
Specialy Customer those are Having Subscription is term deposite.
Previously we could not predict even a single one who are having Subscription in My model.
So Model effiecency is overall improved for predicting both.

In [54]:
# Predict the subscription having age=32,maritial status=Married
## Create a validation data
val_data = pd.DataFrame({"age" : [32],"marital_married":[1],"marital_single":[0]})

#### predict the subscription
Predict_subscription = model_new.predict(val_data)

Predict_subscription

array([0], dtype=uint8)

In [ ]:
## output: Customer will not have Term deposite Subscription

In [55]:
# Predict the subscription having age=42,maritial status=Married
## Create a validation data
val_data_2= pd.DataFrame({"age" : [42],"marital_married":[1],"marital_single":[0]})

#### predict the subscription
Predict_subscription2 = model_new.predict(val_data_2)

Predict_subscription2

array([0], dtype=uint8)

In [69]:
## output: Customer will not have Term deposite Subscription

In [56]:
# Predict the subscription having age=55,maritial status=single
## Create a validation data
val_data_3= pd.DataFrame({"age" : [55],"marital_married":[0],"marital_single":[1]})

#### predict the subscription
Predict_subscription3 = model_new.predict(val_data_3)

Predict_subscription3

array([1], dtype=uint8)

In [67]:
## output: Customer will  have Term deposite Subscription

In [64]:
# Predict the subscription having age=45,maritial status=single
## Create a validation data
val_data_4= pd.DataFrame({"age" : [45],"marital_married":[0],"marital_single":[1]})

#### predict the subscription
Predict_subscription4 = model_new.predict(val_data_4)

Predict_subscription4

array([1], dtype=uint8)

In [66]:
## output: Customer will  have Term deposite Subscription

In [61]:
# Predict the subscription having age=28,maritial status=divorced
## Create a validation data
val_data_5= pd.DataFrame({"age" : [28],"marital_married":[0],"marital_single":[0]})

#### predict the subscription
Predict_subscription5 = model_new.predict(val_data_5)

Predict_subscription5

array([0], dtype=uint8)

In [65]:
## ## output: Customer will not have Term deposite Subscription